body {
  background: lightgray;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  height: auto;
  width: 100%;
  background-color: #290202;
  position: fixed;
  z-index: 1;
  text-align: center;
  top: 0;
  overflow: hidden;
  border-bottom: black 2px solid;
  transform: translateY(0);
  transition: 0.3s ease;
}

.header.transparent {
  opacity: 0.8;
}

.header.fill {
  opacity: 1;
}

.header img {
  height: auto;
  float: left;
  width: 27%;
  padding: 1.5%;
  margin: 0;
}

.header-tab {
  float: right;
  margin: 1.5%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

.header-tab:hover {
  color: darkgrey;
}

#dropdown-tjänster {
  padding-top: 40%;
}

.tab {
  color: white;
}

.dropdown-tab {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20%;
}

.tab:hover {
  color: darkgrey;
}

#footer {
  height: auto;
  text-align: center;
  /* align-items: center; */
  /* align-content: flex-end; */
  width: 100%;
  bottom: 0;
  background-color: #290202;
  color: white;
  z-index: 3;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

#footer h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  padding-top: 2%;
}

.footer-info {
  width: 30%;
  display: inline-block;
  padding: 3%;
  padding-top: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#hack {
  color: #290202;
}
#start-page {
  height: 100vh;
  background-image: url("/images/0-bw.jpg");
  background-size: cover;
  z-index: 0;
}

#short-info h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
font-size: 1.7rem;
}

#short-info {
  height: auto;
  width: 40%;
  float: right;
  margin: 2rem;
  margin-top: 15rem;
  position: relative;
  background-color: black;
  opacity: 0.6;
  color: white;
  padding: 1rem;
}

#service-container {
  text-align: center;
  background-color: lightgray;
  color: black;
  padding: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#service-container h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 1.7%;
}

#service {
  margin: 1%;
  border: outset black 1px;
  padding: 1%;
  width: fit-content;
  display: inline-block;
}

#service p {
  font-size: 2rem;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#listcontainer {
  margin: auto;
  position: relative;
  display: inline-flex;
}

.list-items {
  width: fit-content;
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 1.5rem;
  padding-top: 0.1rem;
  padding-right: 2rem;
}

ul {
  list-style: none;
}

#image-goes-here {
  height: 75vh;
  border-bottom: 2px solid black;
  background-image: url("/images/49-bw.jpg");
  background-size: cover;
}

#news-container {
  height: auto;
  background-color: lightgray;
  color: black;
  padding: 4%;
}

#news {
  overflow: hidden;
  text-align: center;
  height: auto;
  width: auto;
}

#news h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

#news p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

#services-container {
  background-color: lightgray;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding-bottom: 3%;
}

#service-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: black;
  margin-top: 11%;
  text-align: center;
  text-transform: uppercase;
}

#row-container {
  margin-top: 2%;
  width: 100%;
}

.service-row {
margin-top: 3%;
}

.service {
  background-size: cover;
  background-position: center;
  display: inline-block;
  justify-content: space-evenly;
  margin-right: 1.5%;
  margin-left: 1.5%;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.service:hover {
  opacity: 0.3;
}

.service-info {
  width: 50%;
  display: inline-block;
  margin-top: 1.5%;
  text-align: center;
  /* transition: 1s ease-in; */
  animation: opacityOn 0.5s normal forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.service-info p {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

.service-info h3{
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}


@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.service-name {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: inherit;
  padding: 1%;
  margin-top: 40%;
  font-size: 2rem;
  height: auto;
}

.service-name h1{
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#two-lines {
  padding: 1%;
}

#one-line {
  padding: 3%;
  
}

#contact {
  background-color: lightgray;
  padding-top: 10%;
  padding-bottom: 3%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
#contact-info {
  text-align: center;
}

#contact-info h1 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

#contact-info p {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

#contact-greeting {
  margin-top: 4%;
  font-size: 1.7rem;
  font-weight: 150;
  text-align: center;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#contact-greeting img {
  height: 40rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#contact-logo {
  height: auto;
  width: 30%;
}

#opening-hours{
  text-align: center;
  padding-top: 2%;
}

.opening-hours-info{
  display: inline-block;
  width: 15rem;
  height: 10rem;
  padding-left: 2%;
  padding-right: 2%;
}

#opening-hours-info {
display: inline-block;
  width: 30.5rem;
  height: 10rem;
  padding-left: 2%;
  padding-right: 2%;
}
#team {
  background-color: lightgray;
}

#team-container {
  margin: auto;
  display: inline-block;
  overflow: hidden;
  margin-top: 10%;
  padding-bottom: 5%;
}

#team-container h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: black;
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

.team-member {
  float: left;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 4%;
  padding-top: 3%;
  overflow: hidden;
}

.team-member img {
  height: 30rem;
  width: auto;
  float: left;
  padding-right: 3%;
}

.team-member p {
  font-size: 1.2rem;
  color: black;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.team-member h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  margin-top: 0;
}

.team-member-container {
  overflow: hidden;
}

#magnus-image {
  width: 31%;
  height: auto;
}

#partners {
  background: lightgray;
  padding-top: 10%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
}

#partner-header{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: black;
  margin-top: 2%;
  text-align: center;
  text-transform: uppercase;
}

.partner-row {
  text-align: center;
  overflow: hidden;
  padding-top: 5%;
}

#first-partner {
  padding-right: 5%;
}

#second-partner {
  height: auto;
  width: 50%;
  padding-bottom: 5%;
}

#third-partner {
  height: auto;
  width: 20%;
  padding-right: 5%;

}

#forth-partner {
  height: auto;
  width: 50%;
  padding-bottom: 5%;
  padding-left: 3%;
}

#construction-container {
  background: lightgray;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

#construction-container h1{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  color: black;
  text-transform: uppercase;
  padding-bottom: 3%;
}

#construction-container p {
font-size: 1.2rem;
  color: black;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 1%;

}

#construction-container img {
  padding-bottom: 3%;
  padding-top: 4%;
  padding-right: 3%;
  padding-left: 3%;
  max-width: 95%;
}

#image-container {
  display: inline-block;
}

.row-image {
  display: inline-block;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
}

.row-image img {
  height: inherit;
  width: inherit;
  
}

#logo-container {
  display: inline-block;
}

#logo-image-1 {
 height: auto;
 width: 40%;
 padding-top: 0;
 padding: 3%;
 padding-bottom: 5%;
}
#logo-image-2 {
height: auto;
 width: 15%;
 padding: 3%;
}
#logo-image-3 {
height: auto;
 width: 40%;
 padding: 3%;
}

