body {
  background-color: #870a0a;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#header {
  height: 10rem;
  width: 100%;
  background-color: #870a0a;
  position: fixed;
  z-index: 1;
  text-align: center;
}

#footer {
  height: auto;
  text-align: center;
  align-items: center;
  align-content: flex-end;
  width: 100%;
  border-top: 3px solid black;
  bottom: 0;
  background-color: white;
}

#info-container {
  display: inline-block;
  margin: auto;
}

#time {
  float: left;
  margin: 2rem;
}

#address {
  float: left;
  margin: 2rem;
}

#phone {
  float: left;
  margin: 2rem;
}

#start-page {
  height: 100vh;
  background-color: lightblue;
  z-index: 0;
}

#short-info {
  height: 30%;
  width: 40%;
  float: right;
  margin: 2rem;
  margin-top: 15rem;
position: relative;
  background-color: black;
  opacity: 0.6;
  color: white;
  padding: 1rem;
}
